# Build & CMake
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
.cmake/
.qtc*

# Compiler / binaries
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.pdb

# Qt Creator
*.user
*.pro.user
*.autosave
.qtc/
.qt/
qtcreator.db

# Ninja
.ninja_*

# Temp
tmp/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Package manager
.conan/
vcpkg_installed/